---
import PdfViewer from "../components/PdfViewer.astro";
import JegyzokonyvLayout from "../layouts/JegyzokonyvLayout.astro";
import Notebook03 from '../notebooks/jegyzokonyv03.md';

---

<JegyzokonyvLayout number={3}>
    <h2 class="text-2xl text-center"> Feladatok </h2>
    <PdfViewer link="https://titan.physx.u-szeged.hu/~opthome/dlabor/DL-03.pdf"/>
    <h2 class="text-2xl text-center mt-8">
        Számolások (Jupyter notebookok)
    </h2>
    <Notebook03 />
</JegyzokonyvLayout>