---
import PdfViewer from "../components/PdfViewer.astro";
import JegyzokonyvLayout from "../layouts/JegyzokonyvLayout.astro";
import Notebook08 from '../notebooks/jegyzokonyv08.md';

---

<JegyzokonyvLayout number={8}>
    <h2 class="text-2xl text-center"> Feladatok </h2>
    <PdfViewer link="https://titan.physx.u-szeged.hu/~opthome/dlabor/DL-08.pdf"/>
    <h2 class="text-2xl text-center mt-8">
        Számolások (Jupyter notebookok)
    </h2>
    <Notebook08 />
</JegyzokonyvLayout>