---
import PdfViewer from "../components/PdfViewer.astro";
import JegyzokonyvLayout from "../layouts/JegyzokonyvLayout.astro";
import Notebook01 from '../notebooks/jegyzokonyv01.md';

---

<JegyzokonyvLayout number={1}>
    <h2 class="text-2xl text-center"> Feladatok </h2>
    <PdfViewer link="http://titan.physx.u-szeged.hu/~opthome/dlabor/DL-01.pdf"/>
    <h2 class="text-2xl text-center mt-8">
        Számolások (Jupyter notebookok)
    </h2>
    <Notebook01 />
</JegyzokonyvLayout>