---
import PdfViewer from "../components/PdfViewer.astro";
import JegyzokonyvLayout from "../layouts/JegyzokonyvLayout.astro";
import Notebook06 from '../notebooks/jegyzokonyv06.md';

---

<JegyzokonyvLayout number={6}>
    <h2 class="text-2xl text-center"> Feladatok </h2>
    <PdfViewer link="https://titan.physx.u-szeged.hu/~opthome/dlabor/DL-06.pdf"/>
    <h2 class="text-2xl text-center mt-8">
        Számolások (Jupyter notebookok)
    </h2>
    <Notebook06 />
</JegyzokonyvLayout>