---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="initial-scale=1.0" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={import.meta.env.BASE_URL + "/favicon.svg"}
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    .bom {
        width: 80%;
        max-width: 350px;
        margin: 0 auto;
        padding: 0 1rem 1rem 1rem;
        background-color: #c8c8c8c4;
        border-radius: 1rem;
    }

    .bom>h3 {
        border-bottom: 1px solid #000000;
        text-align: center;
        font-size: 120%;
    }

    .bom>ul>li {
        list-style: square;
        margin: 0.25rem 1rem;
    }
</style>

<style type="text/css" media="print">
    @page {
        size: A4;
        margin: 0;
    }

    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
        }
        .pagebreak { page-break-before: always; }
    }
</style>
