<footer
    class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >Forráskód megtalálható: <a
            href="https://github.com/skornel02/szte-FBN609L-2023-2"
            class="link">Github</a
        >-on.</span
    >
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
        Készítette: <a href="https://skornel02.hu" class="link"
            >Stefán Kornél</a
        > és <a href="https://vadavar.hu" class="link">Vad Avar</a>
    </span>
</footer>
