---
interface Props {
    link: string;
}

const { link } = Astro.props;
---

<div class="mockup-browser border border-base-300 my-2">
    <div class="mockup-browser-toolbar">
        <div class="input border border-base-300">
            <a href={link} target="_blank">
                {link}
            </a>
        </div>
    </div>
    <div class="flex justify-center border-t border-base-300">
        <object data={link} type="application/pdf">
            <p>Ez a készülék nem támogatja a beépített PDF nézegetőt!</p>
            <a href={link} target="_blank" class="link">
                Katt ide a megnyitásához!
            </a>
        </object>
    </div>
</div>

<style>
    object {
        border: none;
        width: 100%;
        height: 90vh;
    }
</style>
